@{
    ViewData["Title"] = "Index";
}


@using Atividades.Models
@model IEnumerable<Atividade>



<h2>Index</h2>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Descricao
            </th>
            <th>
                Responsavel
            </th>
            <th>
                Setor
            </th>
            <th>
                Categoria
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ativs">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.Responsavel
                </td>
                <td>
                    @item.Setor
                </td>
                <td>
                    @item.Categoria.Descricao
                </td>
                <td>
                    @item.Data.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhe", "Detalhe", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">        

        $('#ativs').sortable({
            axis: 'y',
            update: function (event, ui) {
                var data = $(this).sortable('serialize');

                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: 'Atividade/atualizatable'
                    
                });
                
            }
        });
        $("#ativs").disableSelection();

    </script>
}