@{
    ViewData["Title"] = "Index";
}


@using Core.Models
@model IEnumerable<Atividade>



<h2>Index</h2>

<p>
    <a asp-action="Add">Create New</a> | 
    <a asp-action="Encerrados">Encerrados</a>
</p>
<form id="fativs">
    <table class="table" id="tativs">
        <thead>
            <tr>
                <th>
                    Ordem
                </th>
                <th>
                    Descricao
                </th>
                <th>
                    Responsavel
                </th>
                <th>
                    Solicitante
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Data
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="ativs">
            @foreach (var item in Model)
            {
                <tr id="@item.Id" prioridade="@item.Id">
                    <td>
                        @item.Prioridade
                    </td>
                    <td>
                        @item.Descricao
                    </td>
                    <td>
                        @item.Responsavel
                    </td>
                    <td>
                        @item.Solicitante
                    </td>
                    <td>
                        @{
                            if (item.Categoria != null)
                            {
                                @item.Categoria.Descricao
                            }
                        }
                    </td>
                    <td>
                        @item.Data.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Encerrar", "Encerrar", new { id = item.Id }) |
                        @Html.ActionLink("Detalhe", "Detalhe", new { id = item.Id }) |
                        @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    <script type="text/javascript">        

        $('#ativs').sortable({
            axis: 'y',
            update: function (event, ui) {
                var rows = [];
                $('#tativs tbody tr').each(function (i, n) {
                    var $row = $(n);
                    rows.push({
                        id: $row.attr('id'),
                        prioridade: $row.attr('prioridade')
                    });
                });
               
                
                // POST to server using $.post or $.ajax
                $.ajax({                    
                    url: 'Atividade/Atualizatable',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(rows),                    
                    success: function (retorno) {
                        console.log(retorno);
                    }
                    
                });
                
            }
        });
        $("#ativs").disableSelection();

    </script>
}