@{
    ViewData["Title"] = "Index";
}


@using Core.Models
@model IEnumerable<Categoria>

<h2>Index</h2>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Descricao
            </th>
            <th>
                Cor
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Descricao
            </td>
            <td>
                @item.Cor
            </td>            
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalhe", "Detalhe", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
